<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="23"
    android:compileSdkVersionCodename="6"
    package="com.android.system.navbar.oneui"
    platformBuildVersionCode="23"
    platformBuildVersionName="6"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="1"
        android:targetPackage="com.android.systemui"
        android:category="android.theme.customization.navbar" />
    <application
        android:label="OneUi"
        
 android:icon="@drawable/ic_sysbar_home"
        android:hasCode="false"
        android:extractNativeLibs="true" />
</manifest>